.select-exp-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.explosives-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    width: 100%;
    max-width: 800px;
    margin-top: 20px;
}
