.app-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #f0f0f0; /* Light gray background */
  height: 100vh;
  justify-content: space-between;
  padding: 20px;
}

.navigate-button {
  background-color: white;
  color: #333; /* Darker text for contrast */
  border: 2px solid #333;
  border-radius: 8px;
  padding: 10px 20px;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
}

.navigate-button:hover {
  background-color: #333;
  color: white;
}
